<p-toast></p-toast>

<div class="flex justify-content-center mt-4">
  <div class="flex center p-8">
    <p-card>
      <ng-template pTemplate="header">
        <div class="flex flex-col text-center">
          <span class="text-2xl font-semibold text-center mt-2 mb-7">REGISTRO DE CONSUMO</span>
          <span class="text-2xl font-semibold text-center mt-2 mb-7">{{ nombreEncargado }}</span>
        </div>
      </ng-template>

      <div class="grid p-4 gap-4">
        <!-- Zona -->
        <div class="text-left mb-2 text-lg">
          <label for="zona">ZONA: </label>
          <p-dropdown
            [options]="zonas"
            [(ngModel)]="selectedZona"
            placeholder="SELECCIONA UNA ZONA"
            (onChange)="onZonaChange()"
            [disabled]="!modoEdicion"
          ></p-dropdown>
        </div>

        <!-- Kazeta -->
        <div class="text-left mb-2 text-lg">
          <label for="kazeta">KAZETA: </label>
          <p-dropdown
            [options]="kazetas"
            [(ngModel)]="selectedKazeta"
            placeholder="SELECCIONA UNA KAZETA"
            [disabled]="!modoEdicion || !selectedZona"
          ></p-dropdown>
        </div>

        <!-- Fecha -->
        <div class="text-left mb-2 text-lg">
          <label for="fecha">FECHA: </label>
          <p-calendar
            [(ngModel)]="fecha"
            dateFormat="dd/mm/yy"
            showIcon
            class="w-full"
            [disabled]="!modoEdicion"
          ></p-calendar>
        </div>

        <!-- Cantidad -->
        <div class="text-left mb-2 text-lg">
          <label for="cantidad" class="whitespace-nowrap">CANTIDAD:</label>
          <p-inputNumber
            [(ngModel)]="cantidad"
            [min]="0"
            showButtons
            inputId="cantidad"
            [disabled]="!modoEdicion"
          ></p-inputNumber>
        </div>

        <!-- Botón Editar / Guardar -->
        <div class="text-right mt-4">
          <button
            pButton
            type="button"
            [label]="modoEdicion ? 'GUARDAR' : 'EDITAR'"
            [loading]="loading"
            (click)="toggleModoEdicion()"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
