<div class="grid p-4 gap-4">
  <div class="col-12 md:col-6">
    <p-card [header]="'BIENVENIDO, ' + nombreGranjero.toUpperCase()" subheader="PANEL DE CONTROL">
      <p>ACCERDE A LAS FUNCIONES QUE TIENES DISPONIBLES EN TU ROL</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="INFORMACION IMPORTANTE">
      <ul>
        <li>GESTINO REGISTROS DE KAZETAS</li>
        <li>CONSULTA REPORTES BASICOS</li>
        <li>VISUALIZA ALERTAS RELEVANTES</li>
      </ul>
    </p-card>
  </div>
</div>
