<p-toast></p-toast>

<div class="flex justify-content-center mt-4">
  <div class="flex center p-8">
    <p-card>
      <ng-template pTemplate="header">
        <div class="flex flex-col text-center">
          <span class="text-2xl font-semibold mt-2 mb-3">DETALLE DE KAZETA</span>
          <span class="text-lg text-color-secondary">{{ kazeta?.nombre || 'CARGANDO...' }}</span>
        </div>
      </ng-template>

      <div class="grid p-4 gap-4">
        <!-- Zona -->
        <div class="field col-12 md:col-6">
          <label for="zona">ZONA: </label>
          <input id="zona" type="text" pInputText [(ngModel)]="kazeta.zona" [disabled]="!editMode" />
        </div>

        <!-- Nombre -->
        <div class="field col-12 md:col-6">
          <label for="nombre">NOMBRE</label>
          <input id="nombre" type="text" pInputText [(ngModel)]="kazeta.nombre" [disabled]="!editMode" />
        </div>

        <!-- Alimento -->
        <div class="field col-12 md:col-6">
          <label for="alimento">ULTIMO REGISTRO DE ALIMENTO (kg)</label>
          <input id="alimento" type="number" pInputText [(ngModel)]="alimento" [disabled]="!editMode" />
        </div>

        <!-- Mortalidad -->
        <div class="field col-12 md:col-6">
          <label for="mortalidad">ULTIMO REGISTRO DE MORTALIDAD</label>
          <input id="mortalidad" type="number" pInputText [(ngModel)]="mortalidad" [disabled]="!editMode" />
        </div>

        <!-- Botón Editar/Guardar -->
        <div class="text-right col-12">
          <button
            pButton
            type="button"
            [label]="editMode ? 'GUARDAR' : 'EDITAR'"
            icon="pi pi-pencil"
            (click)="toggleEditMode()"
            [loading]="loading">
          </button>
        </div>
      </div>
    </p-card>
  </div>
</div>
