<div class="grid p-4 gap-4">
  <!-- Tarjeta de bienvenida -->
  <div class="col-12 md:col-6">
    <p-card [header]="'BIENVENIDO, ' + nombreEncargado.toUpperCase()" subheader="PANEL DE ENCARGADO">
      <p>ACCEDA A LAS FUNCIONES DISPONIBLES PARA SU ROL EN EL SISTEMA.</p>
    </p-card>
  </div>

  <!-- Tarjeta de información -->
  <div class="col-12 md:col-6">
    <p-card header="INFORMACIÓN IMPORTANTE">
      <ul class="list-disc pl-5">
        <li>RESGISTRE EL ALIMENTO DADO Y LAS AVES FALLECIDAS</li>
        <li>INGRESE DATOS DE PESO Y CONSUMO</li>
        <li>VISUALICE REPORTES AGRUPADOS POR ZONA Y KAZETA</li>
      </ul>
    </p-card>
  </div>
</div>
